// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import "theme/header.scss"; 

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
h1.site-title {
	color: black;
}
.bg-primary {
	background-color: black;
}
.navbar-brand.custom-logo-link {
	max-width: 100px;
}
>>>>>>> 070d81a2da30d1dddbd87bf4e372b857059f2a2a
>>>>>>> 505b090e60ab67ea51266db1ee9037ffe733fa44



